<div class="block_spinner_box" (click)="modalBtnAction('Cancel')">
  <div class="main-wrap modal-content-zoom" (click)="$event.stopPropagation();">
    <div class="container">

      <div *ngIf="!showSeedPhrase" class="form-style">
        <p style="opacity: 1">Enter your seed phrase</p>
        <textarea class="phrase_input" #inputSeed (focusin)="onInputFocus(true)" (focusout)="onInputFocus(false)"
                  [ngStyle]="(!showSeedPhrase && isCorrectPhrase) && {'border': '1px solid #EC0100'}" type="text"
                  [(ngModel)]="seedPhrase"></textarea>
      </div>

      <div *ngIf="!showSeedPhrase" class="close_cross_block">
        <button type="button" class="close border-hover" aria-label="Close" (click)="modalBtnAction('Cancel')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div *ngIf="!showSeedPhrase && isCorrectPhrase" class="errStyle">
        <div class="warning_icon"></div>
        <p>Incorrect or invalid passphrase</p>
      </div>

      <div *ngIf="showSeedPhrase">
        <div>
          <div class="form-style">
            <p>
              WALLET SET UP
            </p>
          </div>
          <div class="about_phrase_info">
            <p>Save (<span class="copy-url" (click)="copyToClipBoard()"> <span class="seed-copied" *ngIf="showCopiedMessage">SEED COPIED!</span>copy</span>) this passphrase. It's the only way to access your BET and BTY tokens using another device.</p>

          </div>

          <div class="word_list" draggable="false">
            <div class="word_item" draggable="false" *ngFor="let word of seedPhraseArr let i = index">
              <div class="yellow-polygon no-select" draggable="false">
                <span class="word_number">{{i+1}}</span>
              </div>
              <p>{{word}}</p>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!showSeedPhrase" class="footer">
        <div class="btn_1_0p" [ngClass]="!seedPhrase && 'back_opacity'" (click)="modalBtnAction('Ok')"><span>CONTINUE TO BETTERY</span>
        </div>
      </div>
      <div *ngIf="showSeedPhrase" class="footer">
        <div  class="confirm_safe" (click)="modalBtnAction('Save')">I’ve saved my passphrase in a secure place</div>
      </div>
    </div>

  </div>
</div>
