<div style="display: block">
  <div class="question_block">
    <div class="question_tittle"><span class="question_text">{{question.question}}</span></div>
  </div>

  <div class="item_ending_time" *ngIf="!question.usersAnswers.answered && !question.status.includes('reverted')">
    <div>
      <div class="item_ending_time_block">
        <time class="event_date" [timer]="question?.endTime" ></time>
        <div style="color: #fff;font-size: 12px" *ngIf="!timeValidating(question)">
          ({{this.getValidatorsAmount(question)}}/{{getValidatorsAmountLeft(question)}})
        </div>
        <div class="joined_block">
          <div class="joined_img_close"></div>
          <span>{{question?.validated + question?.answerAmount}} Joined</span>
        </div>
      </div>
    </div>
  </div>

  <div class="join_event_button_user_made_bet"
       *ngIf="question.usersAnswers.answered && question.usersAnswers.from=='participant' ">

    <a  *ngIf="question.status!=='finished' && !question.status.includes('reverted')"
       class="d_flex_j_content">
      <div class="hand_bet_img"></div>
      <div><span>{{question.usersAnswers?.betAmount.toString() + ' BET'}}</span></div>
      <div class="joined_block">
        <div class="joined_img_close"></div>
        <span>{{question?.validated + question?.answerAmount}} Joined</span>
      </div>
    </a>

    <a  *ngIf="question.status=='finished' && question.usersAnswers.answer==question.finalAnswer"
       class="d_flex_j_content">
      <div *ngIf="question.host.id==userData._id" style="margin-right: 15px"><span class="white_text">You earn</span><span class="earned_value"> {{checkFractionalNumb(question.host.payHostAmount, question.host.mintedHostAmount, '+') }}</span></div>

      <div><span class="white_text">  You won</span><span > {{ checkFractionalNumb(question.usersAnswers?.payToken,question.usersAnswers?.mintedToken, '+')  + ' BET'}}</span></div>
    </a>

    <a  *ngIf="question.status=='finished' && question.usersAnswers.answer!==question.finalAnswer"
       class="d_flex_j_content">
      <div *ngIf="question.host.id==userData._id" style="margin-right: 15px"><span class="white_text">You earn</span><span class="earned_value"> {{checkFractionalNumb(question.host.payHostAmount, question.host.mintedHostAmount, '+') }}</span></div>

      <div><span class="white_text">You lost</span><span style="color:#C10000;"> {{getLost(question)}}</span></div>
    </a>
  </div>


  <div class="join_event_button_user_validator"
       *ngIf="question.usersAnswers.answered && question.usersAnswers.from=='validator' && !question.status.includes('reverted')">

    <a  *ngIf="question.status!=='finished'"
       class="d_flex_j_content">
      <div class="validated_img"></div>
      <div><span>Validated  <span style="color: #fff">({{this.getValidatorsAmount(question)}}
        /{{getValidatorsAmountLeft(question)}})</span>
                </span></div>
      <div class="joined_block">
        <div class="joined_img_close"></div>
        <span>{{question?.validated + question?.answerAmount}} Joined</span>
      </div>
    </a>

    <a
       *ngIf="question.status=='finished' && question.finalAnswer==question.usersAnswers.answer"
       class="d_flex_j_content">
      <div style="margin-right: 15px"><span class="white_text">You earn</span><span class="earned_value_validator"> {{checkFractionalNumb(question.usersAnswers.mintedToken, question.usersAnswers.payToken, '+') }}</span></div>

    </a>

    <a
       *ngIf="question.status=='finished' && question.finalAnswer!=question.usersAnswers.answer"
       class="d_flex_j_content">
      <div style="margin-right: 15px"><span class="white_text">You were </span><span class="validator_wrong_answer" style="color: #C10000"> WRONG</span></div>

    </a>

  </div>

  <div *ngIf="question.finalAnswer !== null && !(question.finalAnswer==question.usersAnswers.answer || question.finalAnswer!=question.usersAnswers.answer)" >
    <p class="status_text">Ended on {{eventFinishDate(question)}}</p>
  </div>
  <div *ngIf="question.status.includes('reverted') && !question.finalAnswer">
    <p class="status_text" style="color: #fff">Cancelled on {{eventFinishDate(question)}}</p>
  </div>
</div>
