<div *ngIf="comingSoonType && comingSoonImg()" style="padding-bottom: 40px">
  <div style="display: flex;justify-content: center">
    <div [ngClass]="comingSoonImg().img"></div>
  </div>
  <div class="coming_soon" *ngIf="activeBtn!=='following'"><span>COMING SOON!</span></div>
  <div class="coming_soon" *ngIf="activeBtn=='following'"><span>NO EVENTS AT THE MOMENT</span></div>
  <div class="coming_s_about d_flex_alight_justify_center" >
    <div style="width: 80%">
      <span>{{comingSoonImg().about_title}}</span>
      <span style="font-weight: 400">{{comingSoonImg().about_text}}</span>
    </div>
  </div>

  <div style="display: flex; justify-content: center; margin-top: 16px" (click)="outPutComingSoonType()">
    <a  style="cursor: pointer">
    <div class="explore_button"><span>{{activeBtn!=='following'?"EXPLORE SOCIAL":"EXPLORE TRENDING"}}</span></div>
  </a>
  </div>
</div>
