<div class="details_container">
    <div class="answer_box">
        <div class="each_answer" *ngFor="let answer of question.answers; let i = index"
            [ngStyle]="this.getBackground(i)" (click)="this.makeAnswer(i, answer)">
            <input class="checkbox_answer" [ngClass]="!joinPlayer && 'checkbox_answerValidate'" id="{{question.id}}{{i}}" value="{{i}}" type="radio"
                name="answer">
            <label for="{{question.id}}{{i}}" class="label" [ngStyle]="{'color': answerNumber == i ? '#FFFFFF' : '#0B1511' }">{{answer}}</label>
        </div>
    </div>

    <div [formGroup]="form" class="bet_box" *ngIf="joinPlayer">
        <p class="yourBet">YOUR BET</p>
        <input (keydown)="filterKeyCode($event)" (input)="updateValue()" type="number"  min="0" step=".01" class="yourBetInput" [ngStyle]="limitAmount && {'border': '1px solid red'}" formControlName="amount">
    </div>
  <div *ngIf="limitAmount" class="pastTime_err_text">
    <p>Minimum amount is 0.01 BET</p>
  </div>

    <div class="buttonBox">
        <div *ngIf="joinPlayer && !becomeExpert">
            <button (click)="this.participate()" style="background: #34DDDD"
                class="joinAsPlayer agreeButton" [ngClass]="isDisableBet && 'betDisabled'">BET</button>
        </div>
        <div>
            <button (click)="this.cancel()" style="background: #C4C4C4;"
                [ngStyle]="{'margin-left': becomeExpert ? '0px' : '24px'}" class="joinAsPlayer buttonBack">BACK</button>
        </div>
        <div *ngIf="!joinPlayer && becomeExpert">
            <button (click)="this.validate()" style="background: #BF94E4; margin-left: 24px;"
                class="joinAsPlayer agreeButtonTwo" [ngClass]="isDisableValid && 'validDisabled'">CONFIRM</button>
        </div>
    </div>
</div>
