<div class="box" *ngIf="userData != undefined">
  <p class="my_prof">MY Referrals</p>
  <div class='my_profile_box'>
    <div class="main_box" style="padding-right: 0">
      <div class="container ">
        <div class="row">
          <div class="col-md-12" style="margin-right: 0; padding-right: 0">
            <div class="d_flex_alight_justify_center">
              <div class="levels">
                <div class="level_box">
                  <div class="level_type">
                    <div class="level_type_value">Level 1</div>
                  </div>
                  <div class="level_amount d_flex_alight_justify_center"><span
                    class="level_amount_value">{{refData ? refData?.level1 : 0}}</span></div>

                </div>
                <div class=" level_box">
                  <div class="level_type">
                    <div class="level_type_value">Level 2</div>
                  </div>
                  <div class="level_amount level_2_amount d_flex_alight_justify_center">
                    <span>{{refData ? refData.level2 : 0}}</span>
                  </div>

                </div>
                <div class=" level_box ">
                  <div class="level_type">
                    <div class="level_type_value">Level 3</div>
                  </div>
                  <div class="level_amount level_3_amount d_flex_alight_justify_center">
                    <span>{{refData ? refData.level3 : 0}}</span>
                  </div>

                </div>
              </div>
            </div>
            <div class="referrals_block">
              <app-referral *ngIf="refData?.usersInvited" [invitedUsers]="invitedUsers"></app-referral>
              <div *ngIf="!refData?.usersInvited" class="noRefs">
                <div>
                  <span>no referrals yet.
                  <span>Refer to earn now!</span>
                </span>
                  <div class="d_flex_alight_justify_center" style="position: relative">
                    <div *ngIf="copyLinkFlag" class="d_flex_alight_justify_center" style="position:absolute;left: -40%"><div style="margin-top: 15px">Link Copied</div></div>
                    <div class="ref_link_btn">
                      <div class="myRefIcon"></div>
                      <span (click)="copyRefLink()">My referral link</span></div>
                  </div>
                  <a  class="ref_sys_info" href="https://friendlybets.medium.com/bettery-referral-program-bring-an-army-earn-some-money-55696cdc246e" target="_blank"><span>What is Bettery referral program?</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
