<div class="c16">
  <p class="c0 c1 title" id="h.pfgohtdfb1hi">
    <span class="c14">Privacy Policy</span>
  </p>
  <p class="c13"><span class="c7">Latest update: 02 June 2021.</span></p>
  <p class="c0"><span>This privacy policy is applicable to the Bettery website (</span><span class="c11"><a class="c2"
                                                                                                            href="https://www.google.com/url?q=https://bettery.io&amp;sa=D&amp;source=editors&amp;ust=1622634085754000&amp;usg=AOvVaw3oG-uTRvzVguwcjF1nnPQU">https://bettery.io</a></span><span
    class="c7">).</span></p>
  <h1 class="c0 c1" id="h.nnqvr5ehdvxy"><span class="c8">Owner and Data Controller</span></h1>
  <p class="c0"><span class="c7">Bettery Co. Ltd., 628C Xa Lo Ha Noi, An Phu, District 2, Ho Chi Minh, 700000.</span>
  </p>
  <p class="c0"><span class="c14">Contact email:</span><span>&nbsp;</span><span class="c11"><a class="c2"
                                                                                               href="mailto:hello@bettery.io">hello@bettery.io</a></span>
  </p>
  <h1 class="c0 c1" id="h.kn07riz81hem"><span class="c8">Types of Data Collected</span></h1>
  <p class="c0"><span class="c7">Among the types of Personal Data that Bettery collects, by itself or through third parties, there are Cookies; Usage Data.</span>
  </p>
  <p class="c0"><span class="c7">Complete details on each type of Personal Data collected are provided in the dedicated sections of this privacy policy or by specific explanation texts displayed prior to the Data collection.</span>
  </p>
  <p class="c0"><span class="c7">Personal Data may be freely provided by the User, or, in the case of Usage Data, collected automatically when using Bettery.</span>
  </p>
  <p class="c0"><span class="c7">Unless specified otherwise, all Data requested by Bettery is mandatory and failure to provide this Data may make it impossible for Bettery to provide its services. In cases where Bettery specifically states that some Data is not mandatory, Users are free not to communicate this Data without consequences to the availability or the functioning of the Service.</span>
  </p>
  <p class="c0"><span class="c7">The Personal Data collected to use Bettery are public data related to the account and may include the profile photo, username, and email address. Private data related to the account, such as a registered address and passwords will not be collected by Bettery and is not mandatory to the use of service.</span>
  </p>
  <p class="c0"><span class="c7">Users who are uncertain about which Personal Data is mandatory are welcome to contact the Owner.</span>
  </p>
  <p class="c0"><span class="c7">Any use of Cookies &ndash; or of other tracking tools &ndash; by Bettery or by the owners of third-party services used by Bettery serves the purpose of providing the Service required by the User, in addition to any other purposes described in the present document and in the Cookie Policy, if available.</span>
  </p>
  <p class="c0"><span class="c7">Users are responsible for any third-party Personal Data obtained, published, or shared through Bettery and confirm that they have the third party&#39;s consent to provide the Data to the Owner.</span>
  </p>
  <h1 class="c0 c1" id="h.ujzeoe5r650"><span class="c8">Mode and Place of Processing the Data</span></h1>
  <h2 class="c0 c1" id="h.bufwfj3z3v29"><span class="c10 c5">Methods of Processing</span></h2>
  <p class="c0"><span class="c7">The Owner takes appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data. The Data processing is carried out using computers and/or IT-enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Owner, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of Bettery (administration, sales, marketing, legal, system administration) or external parties (such as third-party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. An updated list of these parties may be requested from the Owner at any time.</span>
  </p>
  <h2 class="c0 c1" id="h.dw8c45ncxg6b"><span class="c5 c10">Legal Basis of Processing</span></h2>
  <p class="c0"><span
    class="c7">The Owner may process Personal Data relating to Users if one of the following applies:</span></p>
  <ul class="c12 lst-kix_4ma3j2r3desi-0 start">
    <li class="c0 c3 li-bullet-0"><span class="c7">Users have given their consent for one or more specific purposes. Note: Under some legislations, the Owner may be allowed to process Personal Data until the User objects to such processing (&ldquo;opt-out&rdquo;), without having to rely on consent or any other of the following legal bases. This, however, does not apply, whenever the processing of Personal Data is subject to European data protection law;</span>
    </li>
    <li class="c0 c3 li-bullet-0"><span class="c7">provision of Data is necessary for the performance of an agreement with the User and/or for any pre-contractual obligations thereof;</span>
    </li>
    <li class="c0 c3 li-bullet-0"><span class="c7">processing is necessary for compliance with a legal obligation to which the Owner is subject;</span>
    </li>
    <li class="c0 c3 li-bullet-0"><span class="c7">processing is related to a task that is carried out in the public interest or in the exercise of official authority vested in the Owner;</span>
    </li>
    <li class="c0 c3 li-bullet-0"><span class="c7">processing is necessary for the purposes of the legitimate interests pursued by the Owner or by a third party.</span>
    </li>
  </ul>
  <p class="c0"><span class="c7">In any case, the Owner will gladly help to clarify the specific legal basis that applies to the processing, and in particular whether the provision of Personal Data is a statutory or contractual requirement, or a requirement necessary to enter into a contract.</span>
  </p>
  <h2 class="c0 c1" id="h.qd4wg33yh6bn"><span class="c10 c5">Place</span></h2>
  <p class="c0"><span class="c7">The Data is processed at the Owner&#39;s operating offices and in any other places where the parties involved in the processing are located.</span>
  </p>
  <p class="c0"><span class="c7">Depending on the User&#39;s location, data transfers may involve transferring the User&#39;s Data to a country other than their own. To find out more about the place of processing of such transferred Data, Users can check the section containing details about the processing of Personal Data.</span>
  </p>
  <p class="c0"><span class="c7">Users are also entitled to learn about the legal basis of Data transfers to a country outside the European Union or to any international organization governed by public international law or set up by two or more countries, such as the UN, and about the security measures taken by the Owner to safeguard their Data.</span>
  </p>
  <p class="c0"><span class="c7">If any such transfer takes place, Users can find out more by checking the relevant sections of this document or inquire with the Owner using the information provided in the contact section.</span>
  </p>
  <h2 class="c0 c1" id="h.fmva735reipp"><span class="c10 c5">Retention Time</span></h2>
  <p class="c0"><span class="c7">Personal Data shall be processed and stored for as long as required by the purpose they have been collected for.</span>
  </p>
  <p class="c0"><span class="c7">Therefore:</span></p>
  <ul class="c12 lst-kix_203trq8fvis5-0 start">
    <li class="c0 c3 li-bullet-0"><span class="c7">Personal Data collected for purposes related to the performance of a contract between the Owner and the User shall be retained until such contract has been fully performed.</span>
    </li>
    <li class="c0 c3 li-bullet-0"><span class="c7">Personal Data collected for the purposes of the Owner&rsquo;s legitimate interests shall be retained as long as needed to fulfill such purposes. Users may find specific information regarding the legitimate interests pursued by the Owner within the relevant sections of this document or by contacting the Owner.</span>
    </li>
  </ul>
  <p class="c0"><span class="c7">The Owner may be allowed to retain Personal Data for a longer period whenever the User has given consent to such processing, as long as such consent is not withdrawn. Furthermore, the Owner may be obliged to retain Personal Data for a longer period whenever required to do so for the performance of a legal obligation or upon order of an authority.</span>
  </p>
  <p class="c0"><span class="c7">Once the retention period expires, Personal Data shall be deleted. Therefore, the right to access, the right to erasure, the right to rectification, and the right to data portability cannot be enforced after the expiration of the retention period.</span>
  </p>
  <h2 class="c0 c1" id="h.2nnkdlli099k"><span class="c10 c5">The Purposes of Processing</span></h2>
  <p class="c0"><span class="c7">The Data concerning the User is collected to allow the Owner to provide its Services, as well as for the following purposes: Analytics, Registration and authentication.</span>
  </p>
  <p class="c0"><span class="c7">Users can find further detailed information about such purposes of processing and about the specific Personal Data used for each purpose in the respective sections of this document.</span>
  </p>
  <h2 class="c0 c1" id="h.rcehzfpie6ds"><span
    class="c10 c5">Detailed Information on the Processing of Personal Data</span></h2>
  <p class="c0"><span
    class="c7">Personal Data is collected for the following purposes and using the following services:</span></p>
  <h3 class="c0 c1" id="h.idbqttnwufgz"><span class="c5">Analytics</span></h3>
  <p class="c0"><span class="c7">The services contained in this section enable the Owner to monitor and analyze web traffic and can be used to keep track of User behavior.</span>
  </p><h4 class="c0 c1" id="h.inbbcvdpccc1"><span class="c9 c15">Google Analytics (Google LLC)</span></h4>
  <p class="c0"><span class="c7">Google Analytics is a web analysis service provided by Google LLC (&ldquo;Google&rdquo;). Google utilizes the Data collected to track and examine the use of Bettery, prepare reports on its activities, and share them with other Google services. Google may use the Data collected to contextualize and personalize the ads of its own advertising network.</span>
  </p>
  <p class="c0"><span class="c7">Personal Data collected: Cookies; Usage Data.</span></p>
  <p class="c0"><span>Place of processing: United States &ndash; </span><span class="c11"><a class="c2"
                                                                                             href="https://www.google.com/url?q=https://policies.google.com/privacy&amp;sa=D&amp;source=editors&amp;ust=1622634085760000&amp;usg=AOvVaw0pNTwX0ByGuqyIVbtiW2WY">Privacy Policy</a></span><span>.</span>
  </p>
  <p class="c0">
    <span>Users who wish to opt-out of Google Analytics can do so by installing the browser extension </span><span
    class="c11"><a class="c2"
                   href="https://www.google.com/url?q=https://tools.google.com/dlpage/gaoptout?hl%3Den&amp;sa=D&amp;source=editors&amp;ust=1622634085760000&amp;usg=AOvVaw2WOKSVhGpeXMRj7lXvZByp">Opt Out</a></span><span
    class="c7">. Privacy Shield participant.</span></p>
  <h3 class="c0 c1" id="h.o02d7e2fgjp4"><span class="c5">Registration and Authentication</span></h3>
  <p class="c0"><span class="c7">By registering or authenticating, Users allow Bettery to identify them and give them access to dedicated services. Depending on what is described below, third parties may provide registration and authentication services. In this case, Bettery will be able to access some Data, stored by these third-party services, for registration or identification purposes.</span>
  </p><h4 class="c0 c1" id="h.h0duo28y4wl3"><span class="c9">Google OAuth (Google LLC)</span></h4>
  <p class="c0"><span class="c7">Google OAuth is a registration and authentication service provided by Google LLC and is connected to the Google network.</span>
  </p>
  <p class="c0"><span class="c7">Personal Data collected: the profile photo, username, and email address.</span></p>
  <p class="c0"><span>Place of processing: United States &ndash; </span><span class="c11"><a class="c2"
                                                                                             href="https://www.google.com/url?q=https://policies.google.com/privacy&amp;sa=D&amp;source=editors&amp;ust=1622634085761000&amp;usg=AOvVaw3kmyPXKXbc3lslL4S1P4rG">Privacy Policy</a></span><span
    class="c7">. Privacy Shield participant.</span></p>
  <h2 class="c0 c1" id="h.c8mcu2rsdje8"><span class="c10 c5">The Rights of Users</span></h2>
  <p class="c0"><span class="c7">Users may exercise certain rights regarding their Data processed by the Owner.</span>
  </p>
  <p class="c0"><span class="c7">In particular, Users have the right to do the following:</span></p>
  <ul class="c12 lst-kix_fw7o3i62b35o-0 start">
    <li class="c0 c3 li-bullet-0"><span class="c7">Withdraw their consent at any time. Users have the right to withdraw consent where they have previously given their consent to the processing of their Personal Data.</span>
    </li>
    <li class="c0 c3 li-bullet-0"><span class="c7">Object to processing of their Data. Users have the right to object to the processing of their Data if the processing is carried out on a legal basis other than consent. Further details are provided in the dedicated section below.</span>
    </li>
    <li class="c0 c3 li-bullet-0"><span class="c7">Access their Data. Users have the right to learn if Data is being processed by the Owner, obtain disclosure regarding certain aspects of the processing and obtain a copy of the Data undergoing processing.</span>
    </li>
    <li class="c0 c3 li-bullet-0"><span class="c7">Verify and seek rectification. Users have the right to verify the accuracy of their Data and ask for it to be updated or corrected.</span>
    </li>
    <li class="c0 c3 li-bullet-0"><span class="c7">Restrict the processing of their Data. Users have the right, under certain circumstances, to restrict the processing of their Data. In this case, the Owner will not process their Data for any purpose other than storing it.</span>
    </li>
    <li class="c0 c3 li-bullet-0"><span class="c7">Have their Personal Data deleted or otherwise removed. Users have the right, under certain circumstances, to obtain the erasure of their Data from the Owner.</span>
    </li>
    <li class="c0 c3 li-bullet-0"><span class="c7">Receive their Data and have it transferred to another controller. Users have the right to receive their Data in a structured, commonly used, and machine-readable format and, if technically feasible, to have it transmitted to another controller without any hindrance. This provision is applicable provided that the Data is processed by automated means and that the processing is based on the User&#39;s consent, on a contract which the User is part of, or on pre-contractual obligations thereof.</span>
    </li>
    <li class="c0 c3 li-bullet-0"><span class="c7">Lodge a complaint. Users have the right to bring a claim before their competent data protection authority.</span>
    </li>
  </ul>
  <h3 class="c0 c1" id="h.5dxrhauvqf7o"><span class="c5">Details about the Right to Object to Processing</span></h3>
  <p class="c0"><span class="c7">Where Personal Data is processed for a public interest, in the exercise of an official authority vested in the Owner or for the purposes of the legitimate interests pursued by the Owner, Users may object to such processing by providing a ground related to their particular situation to justify the objection.</span>
  </p>
  <p class="c0"><span class="c7">Users must know that, however, should their Personal Data be processed for direct marketing purposes, they can object to that processing at any time without providing any justification. To learn, whether the Owner is processing Personal Data for direct marketing purposes, Users may refer to the relevant sections of this document.</span>
  </p>
  <h3 class="c0 c1" id="h.ee3xadqsh92m"><span class="c5">How to Exercise these Rights</span></h3>
  <p class="c0"><span class="c7">Any requests to exercise User rights can be directed to the Owner through the contact details provided in this document. These requests can be exercised free of charge and will be addressed by the Owner as early as possible and always within one month.</span>
  </p>
  <h2 class="c0 c1" id="h.z4xsfovuz0nn"><span
    class="c10 c5">Additional information about Data collection and processing</span></h2>
  <h3 class="c0 c1" id="h.6ayh5e2barfv"><span class="c5">Legal Action</span></h3>
  <p class="c0"><span class="c7">The User&#39;s Personal Data may be used for legal purposes by the Owner in Court or in the stages leading to possible legal action arising from improper use of Bettery or the related Services. The User declares to be aware that the Owner may be required to reveal personal data upon request of public authorities.</span>
  </p>
  <h3 class="c0 c1" id="h.ai3jwvold14z"><span class="c5">Additional Information About User&#39;s Personal Data</span>
  </h3>
  <p class="c0"><span class="c7">In addition to the information contained in this privacy policy, Bettery may provide the User with additional and contextual information concerning particular Services or the collection and processing of Personal Data upon request.</span>
  </p>
  <h3 class="c0 c1" id="h.u2rqw3cmuo71"><span class="c17 c5">System Logs and Maintenance</span></h3>
  <p class="c0"><span class="c7">For operation and maintenance purposes, Bettery and any third-party services may collect files that record interaction with Bettery (System logs) use other Personal Data (such as the IP Address) for this purpose.</span>
  </p>
  <h3 class="c0 c1" id="h.5ba8jmwiwicj"><span class="c5">Information not contained in this Policy</span></h3>
  <p class="c0"><span class="c7">More details concerning the collection or processing of Personal Data may be requested from the Owner at any time. Please see the contact information at the beginning of this document.</span>
  </p>
  <h3 class="c0 c1" id="h.kzchjt2v7r5w"><span class="c5 c17">How &ldquo;Do Not Track&rdquo; Requests are Handled</span>
  </h3>
  <p class="c0"><span>Bettery</span><span class="c7">&nbsp;does not support &ldquo;Do Not Track&rdquo; requests. To determine whether any of the third-party services it uses honor the &ldquo;Do Not Track&rdquo; requests, please read their privacy policies.</span>
  </p>
  <h3 class="c0 c1" id="h.z2vh6d1t0l19"><span class="c5">Changes to this Privacy Policy</span></h3>
  <p class="c0"><span class="c7">The Owner reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page and possibly within Bettery and/or - as far as technically and legally feasible - sending a notice to Users via any contact information available to the Owner. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom.</span>
  </p>
  <p class="c0"><span class="c7">Should the changes affect processing activities performed on the basis of the User&rsquo;s consent, the Owner shall collect new consent from the User, where required.</span>
  </p>
  <h2 class="c0 c1" id="h.knlxoz536zep"><span class="c10 c5">Definitions and Legal References</span></h2><h4
  class="c0 c1"
  id="h.cl0pdvo1j8kw">
  <span class="c9">Personal Data (or Data)</span></h4>
  <p class="c0"><span class="c7">Any information that directly, indirectly, or in connection with other information &mdash; including a personal identification number &mdash; allows for the identification or identifiability of a natural person.</span>
  </p><h4 class="c0 c1" id="h.qximvmq0soa1"><span class="c9">Usage Data</span></h4>
  <p class="c0"><span class="c7">Information collected automatically through Bettery (or third-party services employed in Bettery), which can include: the IP addresses or domain names of the computers utilized by the Users who use Bettery, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server&#39;s answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User&#39;s IT environment.</span>
  </p><h4 class="c0 c1" id="h.jxdh79of8pnl"><span class="c9">User</span></h4>
  <p class="c0"><span class="c7">The individual using Bettery who, unless otherwise specified, coincides with the Data Subject.</span>
  </p><h4 class="c0 c1" id="h.t633wq7tuwdj"><span class="c9">Data Subject</span></h4>
  <p class="c0"><span class="c7">The natural person to whom the Personal Data refers.</span></p><h4 class="c0 c1"
                                                                                                    id="h.37265km7frr4">
  <span class="c9">Data Processor (or Data Supervisor)</span></h4>
  <p class="c0"><span class="c7">The natural or legal person, public authority, agency, or other body which processes Personal Data on behalf of the Controller, as described in this privacy policy.</span>
  </p><h4 class="c0 c1" id="h.akhg2kvuoru4"><span class="c9">Data Controller (or Owner)</span></h4>
  <p class="c0"><span class="c7">The natural or legal person, public authority, agency, or other body which, alone or jointly with others, determines the purposes and means of the processing of Personal Data, including the security measures concerning the operation and use of Bettery. The Data Controller, unless otherwise specified, is the Owner of Bettery.</span>
  </p><h4 class="c0 c1" id="h.sxhw66a1aqiu"><span class="c9">Bettery (or this Application)</span></h4>
  <p class="c0"><span class="c7">The means by which the Personal Data of the User is collected and processed.</span></p>
  <h4 class="c0 c1" id="h.s31n3poirezn"><span class="c9">Service</span></h4>
  <p class="c0"><span class="c7">The service provided by Bettery is described in relative terms (if available) and on this site/application.</span>
  </p><h4 class="c0 c1" id="h.k7qrcol7alz0"><span class="c9">European Union (or EU)</span></h4>
  <p class="c0"><span class="c7">Unless otherwise specified, all references made within this document to the European Union include all current member states to the European Union and the European Economic Area.</span>
  </p><h4 class="c0 c1" id="h.bp3b5m2czoeu"><span class="c9">Cookies</span></h4>
  <p class="c0"><span class="c7">Small sets of data stored in the User&#39;s device.</span></p><h4 class="c0 c1"
                                                                                                   id="h.tos99znuszzf">
  <span class="c9">Legal information</span></h4>
  <p class="c0"><span class="c7">This privacy statement has been prepared based on provisions of multiple legislations, including Art. 13/14 of Regulation (EU) 2016/679 (General Data Protection Regulation).</span>
  </p>
  <p class="c0"><span class="c7">This privacy policy relates solely to Bettery, if not stated otherwise within this document.</span>
  </p>
</div>
